{% extends "header.html" %} {% block body %}

<!-- Bootstrap container to center the content -->
<div class="container">
  <!-- Bootstrap row for the centered card -->
  <div class="row">
    <!-- Bootstrap column for the card -->
    <div class="col-md-12 centered-card">
      <div class="px-4 py-5 my-5 text-center">
        <h5 class="title-1">Discovering protein antibacterials</h5>
        <div class="col-lg-12 mx-auto">
          <p class="title-2 mb-5">
            GangaGen AI EctoLysin - Powered by Orbuculum
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button
              type="button"
              class="btn btn-success btn-lg px-4 gap-3 login-buttton"
              data-toggle="modal"
              data-target="#myModal"
              style={font-family:'Roboto'}
            >
              Access The Tool
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal custom" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog login-modal">
      <div class="modal-content">
        <!-- Modal Header -->
        <div
          class="modal-header"
          style="
            justify-content: end !important;
            border-bottom: none !important;
          "
        >
          <button type="button" class="close" data-dismiss="modal">
           <img
           src="/static/images/10728089.png"
           alt="Logo"
           width="25"
           height="25"
           class="d-inline-block align-text-top"/>
          </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
         <form action="{% url 'user_login' %}" method="post" name="form_name" id="form_id" class="form_class" >
          {% csrf_token%}
          <div class="px-4 my-3 text-center">
            <h5 class="title-3">Enter Your Access Code</h5>
            
          </div>
          <div class="col-lg-10 mx-auto">
            <div class="input-group mt-4 mb-5 input-code">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Code"
                aria-label="Enter Code"
                aria-describedby="basic-addon1"
                name='access_code'
              />
            </div>
            <div
              class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-6"
            >
              <button
                type="submit"
                class="btn btn-success btn-lg px-4 gap-3 login-buttton"
               
              />
              SUBMIT
          </button>
               
          
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End of centered card row -->
</div>
<script type="javascript">
  function handleClick(){
    let access_code = document.getElementById('access_code');
  }
</script>
<!-- End of container -->

{% endblock body %}
